<div class="p-2 bg-gray-100 min-h-screen">
  <div class="max-w-5xl mx-auto bg-white rounded-lg shadow-md p-2">
<div class="p-6" *ngIf="trip">
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-2xl font-bold mb-2">{{ trip.name }}</h1>
      <div class="text-gray-600">
        {{ trip.startDate | date }} - {{ trip.endDate | date }} ({{
          trip.duration
        }}
        days)
      </div>
    </div>

    <div class="flex gap-2">
      <button mat-raised-button color="warn" (click)="rejectTrip()">
        <mat-icon>cancel</mat-icon>
        Reject
      </button>
      <button mat-raised-button color="primary" (click)="approveTrip()">
        <mat-icon>check_circle</mat-icon>
        Approve
      </button>
    </div>
  </div>
  <hr class="border-t border-gray-300 my-6" />
  <app-expenses
    [expenses]="trip.expenses"
    [userRole]="userRole"
    [approval]="approval"
    [isPending]="true"
    >
  </app-expenses>
</div>
</div>
</div>