<mat-toolbar color="primary">
    <div class="flex items-center justify-between w-full px-4">
      <div class="flex items-center space-x-4">
        <span class="text-xl">Expense Management</span>
        
        @if (currentUser$ | async; as user) {
          <div class="flex items-center space-x-2">
            @if (user.role === UserRole.END_USER) { 
            <button mat-button routerLink="/trips" class="flex items-center">
              <mat-icon class="mr-2">list</mat-icon>
              Trips
            </button>
          }
            @if (user.role === UserRole.APPROVER) {
              <button mat-button routerLink="/approvals" class="flex items-center">
                <mat-icon class="mr-2">approval</mat-icon>
                Approvals
              </button>
            }
            
            @if (user.role === UserRole.FINANCE) {
              <button mat-button routerLink="/finance" class="flex items-center">
                <mat-icon class="mr-2">attach_money</mat-icon>
                Finance
              </button>
            }
          </div>
        }
      </div>

      @if (currentUser$ | async) {
        <button mat-button (click)="logout()" class="flex items-center">
          <mat-icon class="mr-2">logout</mat-icon>
          Logout
        </button>
      }
    </div>
  </mat-toolbar>
<router-outlet></router-outlet>